#### TITANIC SURVIVAL PREDICTION

In [1]:
#importing Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Importing Evaluation Matrics
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [3]:
#Importing Machine Learning Algorithm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [4]:
#Loading data_set
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
testID = test["PassengerId"]

In [5]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
def clean(data):
    data = data.drop(["Ticket","Cabin","PassengerId","Name"],axis=1)
    cols = ["SibSp","Parch","Fare","Age"]
    for col in cols:
        data[col].fillna(data[col].median(),inplace=True)
    data.Embarked.fillna("U",inplace=True)
    return data
data = clean(data)
test = clean(test)

In [7]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [8]:
test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [9]:
le = LabelEncoder()
cols = ["Sex","Embarked"]
for col in cols:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])
    print(le.classes_)

['female' 'male']
['C' 'Q' 'S' 'U']

In [10]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [11]:
LOG = LogisticRegression(max_iter=1000,random_state=0)

In [12]:
x = data.drop("Survived",axis=1)
y = data["Survived"]

In [13]:
x_train,x_val,y_train,y_val = train_test_split(x,y,test_size=0.2,random_state=42)

In [14]:
LOG.fit(x_train,y_train)

LogisticRegression(max_iter=1000, random_state=0)

In [15]:
predicions1 = LOG.predict(x_val)

In [16]:
accuracy_score(y_val,predicions1)

0.8100558659217877

In [17]:
Submission01 = LOG.predict(test)

In [18]:
Submission01

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [19]:
DD =pd.DataFrame({"PassengerId":testID.values,"Survived":Submission01})

In [20]:
DD.to_csv("Submission1.csv",index=False)

In [21]:
RDD = RandomForestClassifier(max_depth=20,n_jobs=20)

In [22]:
RDD.fit(x_train,y_train)

RandomForestClassifier(max_depth=20, n_jobs=20)

In [23]:
predicions2 = RDD.predict(x_val)

In [24]:
accuracy_score(y_val,predicions2)

0.8100558659217877

In [25]:
params ={
    "n_estimators":[40,60,80,100,150],
    "max_depth":[3,6,9,12,15],
    "min_samples_split":[2,3,4,5,6]
    }

In [26]:
GRD = GridSearchCV(RDD,params,cv=5)

In [27]:
GRD.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(max_depth=20, n_jobs=20),
             param_grid={'max_depth': [3, 6, 9, 12, 15],
                         'min_samples_split': [2, 3, 4, 5, 6],
                         'n_estimators': [40, 60, 80, 100, 150]})

In [28]:
GRD.best_score_

0.8328474342558849

In [29]:
GRD.best_params_

{'max_depth': 6, 'min_samples_split': 2, 'n_estimators': 40}

In [30]:
classier = GRD.best_estimator_

In [31]:
pred = classier.predict(x_val)

In [32]:
accuracy_score(y_val,pred)

0.8212290502793296

In [33]:
classification_report(y_val,pred)

'              precision    recall  f1-score   support\n\n           0       0.81      0.90      0.86       105\n           1       0.84      0.70      0.76        74\n\n    accuracy                           0.82       179\n   macro avg       0.83      0.80      0.81       179\nweighted avg       0.82      0.82      0.82       179\n'

In [34]:
confusion_matrix(y_val,pred)

array([[95, 10],
       [22, 52]], dtype=int64)

#### MAKING PREDICTIVE SYSTEM

In [35]:
features = [[3,1,28.0,1,1,15.2458,0]]

In [36]:
predisys = classier.predict(features)

In [37]:
predisys

array([0], dtype=int64)

#### SAVING THE MODEL

In [38]:
import pickle

In [39]:
loaded_model = "trained_modek.sav"

In [40]:
pickle.dump(classier,open(loaded_model,"wb"))

In [41]:
loaded_models=pickle.load(open("trained_modek.sav","rb"))

In [42]:
predd = loaded_models.predict(features)

In [43]:
predd

array([0], dtype=int64)

In [44]:
x_train.head()

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
331       1    1  45.5      0      0  28.5000         2
733       2    1  23.0      0      0  13.0000         2
382       3    1  32.0      0      0   7.9250         2
704       3    1  26.0      1      0   7.8542         2
813       3    0   6.0      4      2  31.2750         2